
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container text-center">
        <h1 class="display-3 text-primary">Welcome <%=params['id']%></h1>
        <p>profil</p>
        <p>toute les infos sur cette auteur</p>
        </div>
      </div>
