<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" id="first_name" class="fadeIn second" name="first_name" placeholder="prenom">
      <input type="text" id="last_name" class="fadeIn third" name="last_name" placeholder="nom">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>